<div class="row">
	<div class="large-11 large-centered columns">
		<h3>Новая статья</h3>
		<br />
		<div class="row">
		<%= form_for @article do |f| %>
			<div class="large-12 columns">
				<%= f.text_field :title, placeholder: "Загловок статьи" %><br/>
			</div>
			<div class="large-12 columns">
				<%= f.text_area :text, colls: 40, rows: 10, placeholder: "В далеком далеком государстве..." %><br/>
			</div>
			<div class="large-12 columns">
				<input type="hidden" name="article[user_id]" value="<%= current_user.id %>"/>
				<%= f.submit 'Отправить', :class => "button" %>
			</div>
		<% end %>
		</div>
	</div>
</div>
