<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
	      <h1><%= link_to 'General stibadium copiis Staff', root_path %></h1>
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	  	<% if user_signed_in? %>
	    <!-- Right Nav Section -->

	    <ul class="right">
	      <li><%= link_to 'Новая статья', new_article_path, class: "button" %></li>
	      <li class="has-dropdown">
	        <a href="#"><%= current_user.email %></a>
	        <ul class="dropdown">
	          <li><%= link_to 'Профиль', edit_user_registration_path %></li>
	          <li><%= link_to 'Мои статьи', 'articles/user' %></li>
	          <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
	        </ul>
	      </li>
	    </ul>
	    <!-- End Right Nav Section -->
	    <% else %>
	    <ul class="right">
	    	<ul class="button-group">
	    		<li><%= link_to 'Войти', new_user_session_path, class: "button" %></li>
	    		<li><%= link_to 'Регистрация', new_user_registration_path, class: "button" %></li>
	    	</ul>
	    </ul>
	    <% end %>
	  </section>
	</nav>

	<script>
    	$(document).foundation();
  	</script>
	<br />
    	<%= yield %>
    	<footer>
    		<div class="row">
				<div class="large-11 large-centered columns">
		    		<ul class="small-block-grid-3 center">
					  	<li><a href="#">Публикации</a></li>
						<li><a href="#">Хабы</a></li>
						<li><a href="#">Компании</a></li>
					</ul>
				</div>
			</div>
    	</footer>
  </body>
</html>
